[user]
	name = marshallgjohn
	email = marshallgjohn@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	# WSL-safe: don't fight Windows line endings, ignore chmod noise on /mnt/c
	autocrlf = input
	filemode = false
	longpaths = true
	editor = nvim
	pager = delta
[fetch]
	prune = true
[rerere]
	enabled = true
[diff]
	colorMoved = zebra
[merge]
	conflictstyle = zdiff3
[alias]
	co = checkout
	sw = switch
	st = status --short --branch
	lg = log --graph --pretty='%h %ad %an %s' --date=short -20
	last = log -1 --stat
	unstage = reset HEAD --
	amend = commit --amend --no-edit
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
